---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="EcoView">
	<main>
        
		<div class="encabezado">
			<div class="encabezado-izquierda">
				<img src="/resources/logo.png" width="70rem">
				ECOVIEW
			</div>
			<div class="encabezado-derecha">
				<a class="bullet mi-boton" href="forum"><img src="/resources/foco.png" width="20rem"> F o r o</a>

				</button>
			</div>			
		</div>
		
		<div class="contenedor1">
			<div class="contenedor-h1">
				<h1>From the space to our <h1-2>neighborhood</h1-2></h1>
				<h2>In the state of San Luis Potosí, various environmental problems have arisen due to the zinc plant located to the west of the city; These mainly affect the communities surrounding said building.</h2>
			</div>
			<div class="contenedor-h2">
				<img src="/resources/planta-zinc.jpeg", width="500rem">
			</div>
			<div class="contenedor-h2">
			</div>
		</div>
		<div class="contenedor-central">
			<h3>MODIS, which stands for "Moderate Resolution Imaging Spectroradiometer," is a remote sensing instrument developed by NASA. It was launched in 1999 and is onboard the Terra and Aqua satellites. MODIS captures images of Earth at a moderate resolution, enabling comprehensive monitoring of climate, vegetation, and water quality, which is crucial for understanding and caring for our planet.</h3>
		</div>
		<div class="contenedor2">
			<img src="/resources/2021.jpg", width="800rem">
		</div>
		<div class="linea-tiempo">
			<a class="bullet" href="index-1982">
				<p style="color: black;">1982</p>
			</a>
			<div class="linea"></div>
			<a class="bullet" href="/index-2019">
				<p style="color: black;">2019</p>
			</a>			
			<div class="linea"></div>
			<a class="bullet" href="index-2021">
				<p style="color: black;">2021</p>
			</a>
			<div class="linea"></div>
			<a class="bullet" href="index-1982">
				<p style="color: black;">2022</p>
			</a>
		</div>
		<div class="contenedor-componente">
			<div class="componente-izquierda"><img src="/resources/ind1.jpg", width="280rem"></div>
			<div class="componente-derecha">
				<h2>New zinc refinery in San Luis Potosí</h2>
				<h2>Operations of the new San Luis Potosí zinc refinery began, designed to produce 105,000 MT per year.</h2>
			</div>
		</div>		
		
		  
	</main>
	<footer class="pie-de-pagina">
		Número de contacto
		<h2>Contacto Secretaría de Ecología Y Gestión Ambiental
		<br>44 41 51 06 09</h2>
	</footer>
	
</Layout>

<style>
	main {
		margin: auto;
		padding: 5rem;
		width: 1200px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: left;
		margin-bottom: 0em;
		color: black;
	}
	h1-2 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: left;
		margin-bottom: 0em;
		color:#2d572c;
	}
	h2 {
		font-size: 1rem;
		font-weight: 100;
		line-height: 1;
		text-align: left;
		margin-bottom: 1em;
		color: black;
		padding: 1rem;
	}
	h3 {
		font-size: 1.5rem;
		font-weight: 100;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
		color: black;
		padding: 1rem;
	}
	.contenedor1 {
  		display: flex; /* Activa el modelo Flexbox */
  		justify-content: space-between; /* Alinea los elementos al principio y al final del contenedor */
  		padding-top: 4rem;
		padding-left: 2rem;
	}

	.contenedor-h1 {
  		padding-left: 5rem; /* Ajusta el espacio izquierdo */
 		padding-right: 1rem; /* Ajusta el espacio derecho a 1rem */
	}

	.contenedor-h2 {
  		padding-top: 2rem; /* Agrega una unidad de medida (píxeles) a la propiedad padding-top */
  		padding-left: 1rem; /* Ajusta el espacio izquierdo */
  		padding-right: 5rem; /* Ajusta el espacio derecho a 5rem */
	}

	.contenedor-h3 {
		background-color: #f0f0f0;
  		padding: 1rem;
  		/*margin-top: 10px; /* Agrega espacio entre el h2 y el contenedor */
		
	}

	.contenedor2 {
		display: flex; /* Activa el modelo Flexbox */
  		justify-content: space-between; /* Alinea los elementos al principio y al final del contenedor */
  		padding-top:1rem;
		padding-left: 12rem;
	}

	.contenedor3 {
		display: flex;
		justify-content: space-between;
		padding-top: 3rem;
		padding-left: 4rem;
	}
	.contenedor4 {
		display: flex;
		justify-content: space-between;
		padding-top:3rem;
		padding-left: 14rem;
	}
	.linea-tiempo {
		padding-top: 5rem;
		padding-bottom: 3rem;
  		display: flex;
  		align-items: center;
  		justify-content: space-between;
  		width: 80%; /* Ajusta el ancho de la línea de tiempo */
  		margin: 0 auto; /* Centra la línea de tiempo en el contenedor */
	}

	.bullet {
  		width: 20px; /* Tamaño del punto (bullet) */
  		height: 20px; /* Tamaño del punto (bullet) */
  		background-color: #9e9e9e; /* Color del punto (bullet) */
  		border-radius: 50%; /* Hace que el punto sea circular */
	}

	.bullet:hover {
		transform: scale(1.2);
	}

	.linea {
  		flex-grow: 1; /* Expande la línea horizontal para llenar el espacio entre puntos (bullets) */
  		height: 9px; /* Altura de la línea horizontal */
  		background-color: #cccccc; /* Color de la línea horizontal */
	}


	.contenedor-componente {
		padding-top: 3rem;
  		display: flex;
		width: 61rem;
		padding-left: 7rem;
	}

	.componente-izquierda {
 		flex: 10rem; /* Ancho del 30% para el componente izquierdo */
  		background-color:white; /* Color de fondo del componente izquierdo */
  		padding: 1rem; /* Espacio interior para el componente izquierdo */
  		color: white; /* Color del texto en el componente izquierdo */
		height: 10rem;
	}

	.componente-derecha {
  flex: 50%;
  background-color: #d5f2dd;
  padding: 1rem;
  height: 10rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.componente-derecha h2:first-child {
  font-weight: bold;
  margin-bottom: 0rem; /* Reduce el espacio inferior del primer título */
}

.componente-derecha h2:last-child {
  margin-top: 0rem; /* Añade espacio superior al segundo título */
}

	body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Establece la altura mínima de la página al 100% de la ventana del navegador */
  margin: 0; /* Elimina el margen predeterminado del cuerpo de la página */
}

.contenido {
  flex: 1; /* Hace que el contenido ocupe todo el espacio disponible */
}

.pie-de-pagina {
	margin-top: 2rem;
	width: 85rem;
	padding-left: 2rem;
	padding-top: 1rem;
	font-weight: bold;
	position: static;
	height: 135px;
	color:#2d572c;
	background-color: #e9e7e7; /* Color de fondo del pie de página */
  	border-radius: 30px 30px 0px 0px; /* Redondear solo la parte superior */
}

.encabezado {
  background-color: #d5f2dd;
  border-radius: 0px 0px 30px 30px;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex; /* Convertir .encabezado en un contenedor flexible */
  align-items: center; /* Alinear verticalmente el contenido */
  justify-content: space-between; /* Distribuir el contenido en los extremos */
  height: 5rem;
}

.encabezado-izquierda {
  padding-left: 2rem;
  color:#2d572c;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

.encabezado-derecha {
  padding-right: 3rem;
}

.mi-boton {
  background-color: #fff;
  color: #2d572c;
  border: none;
  border-radius: 5px;
  padding: 8px 20px 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 0.5rem;
}

.mi-boton:hover {
  background-color: #2d572c;
  color: white;
  transform: scale(1.2);
}

.contenedor-central{
	margin-left: 5rem;
	margin-right: 5rem;
	margin-top: 5rem;
}

</style>
